body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.contenedor {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.menu2 {
    position: relative;
    z-index: 1;
}

.menu2 a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu2 a:hover {
    
    background-color: rgba(0, 0, 0, 0.7);
}